header {
    text-align: right;
}

.to-home {
    display       : inline-block;
    font-size     : 14pt;        /* 文字サイズ */
    font-family: 'Kiwi Maru', serif;
    cursor        : pointer;     /* カーソル   */
    padding       : 2px 2px;   /* 余白       */
    background    : #e7bee4;     /* 背景色     */
    color         : #d25fb9;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    border        : none;
}

body {
    background-color: #e7bee4;
}

#page-title {
    text-align: center;
    
}

#page-title h1 {
    font-family: 'Kiwi Maru', serif;
    color: #d25fb9;
    margin-top: 50px;
    font-size: 36px;
}

#about h2 {
    font-family: 'Kiwi Maru', serif;
    color: #d25fb9;
    font-size: 30px;
    
}

#about h2 b {
    background: linear-gradient(transparent 75%, #d8aed5 20%);
}

#about p {
    font-family: 'Kiwi Maru', serif;
    color: #000000;
    font-size: 20px;
}


#about {
    text-align: center;
}
