body {
    margin: 0px;
    display:flex;
  	flex-direction:column;
 	min-height: 100vh;
}

main{
     	flex: 1;
}

header {
    width: 100%;
    text-align: right;
}

.to-home {
    display       : inline-block;
    font-size     : 14pt;        /* 文字サイズ */
    font-family: 'Kiwi Maru', serif;
    cursor        : pointer;     /* カーソル   */
    padding       : 2px 2px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #d25fb9;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    border        : none;
}

#word-input {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin-right: 5%;
    margin-left: auto;
    width: 60%;
}

.word-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#word-input input {
    display: block;
    margin:0 auto 0;
}

.message1 {
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
    color: #1a1a1a;
}

.note {
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
    color: #1a1a1a;
}

.input-text .text {
    background-color: #e7bee4;
    color: #931366;
    height: 40px;
    border: none;
}

.input-text > input.text:focus {
    outline:groove 2px #931366;
}

#select {
    text-align: center;
    margin-right: 5%;
    margin-left: auto;
    width: 60%;

}

.message2 {
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
    color: #1a1a1a;
}

.select-button {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.select-button p {
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
    color: #1a1a1a;
}

.radio-button b {
    margin-bottom: 10px;
}

.radio-button {
    line-height: 40px;
}

.r-button {
    display: none;
    /* margin: 10px; */
    box-shadow: 10px 10px 15px -10px gray inset;
}
.radio-button label {
    background-color: #e7bee4;
    padding: 3px 20px;
}
.r-button:checked + label {
    background-color: #d25fb9;
}

#send-button {
    text-align: right;
    margin-right: 5%;
    margin-left: auto;
    width: 60%;
}

#send-button p {
    font-family: 'Kiwi Maru', serif;
    font-size: 18px;
    color: #1a1a1a;
}

.send {
    display       : inline-block;
    border-radius : 50%;          /* 角丸       */
    font-size     : 15pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    font-family: 'Kiwi Maru', serif;
    /*cursor        : pointer;     /* カーソル   */
    padding       : 17px 59px;   /* 余白       */
    background    : #d25fb9;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 11px #72919e;  /* 影の設定 */
    border        : none;
}

.send:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0; /*下に固定*/
}
