#spot-name {
    text-align: center;
    margin-top: 50px;
}

h2{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-size: 26px;
    line-height: 40px;
    color: #000000;
}

#spot-name b {
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #5CB1BD;
    background: linear-gradient(transparent 70%, #83f2fa 40%);
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade{
    0%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
}

#caption {
    margin : 20px ;
    text-align: center;
}

#caption p {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
}

.info {
    text-align: center;
    background-color: aliceblue;
    margin-bottom: 50px;
    padding-bottom: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

#address {
    text-align: center;
    background-color: aliceblue;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin-bottom: 40px;
}
h3 {
    font-size: 26px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFFFFF;
}

h3 span {
    opacity       : 0.9;         /* 透明度     */
    padding: 5px 20px 5px 20px;
    background-color: #5CB1BD;
    border-radius: 40px;
    border: 2px solid #5CB1BD;
}

.info-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.info-box b {
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #45a2ae;
}

.access-info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.access-info p {
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
}

#retry {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.retry-button {
    display       : inline-block;
    border-radius : 50%;          /* 角丸       */
    font-size     : 15pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    font-family   : 'Noto Sans JP', sans-serif;
    padding       : 17px 59px;   /* 余白       */
    background    : #5cb1bd;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 11px #72919e;  /* 影の設定 */
    border        : none;
}

.retry-button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
}

footer {
    width: 100%;
    height: 50px;
    background-color: #5CB1BD;
    text-align: right;
    bottom: 0;
}

small {
    font-family: ''Noto Sans JP', serif;
}