header {
    text-align: right;
}

.to-home {
    display       : inline-block;
    font-size     : 14pt;        /* 文字サイズ */
    font-family: 'Kiwi Maru', serif;
    cursor        : pointer;     /* カーソル   */
    padding       : 2px 2px;   /* 余白       */
    background    : #FFFFFF;     /* 背景色     */
    color         : #d25fb9;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    border        : none;
}

#spot-name {
    text-align: center;
    margin-right: 5%;
    margin-left: auto;
    width: 60%;
}

h2{
    text-align: center;
    font-family: 'Kiwi Maru', serif;
    font-style: normal;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
}

#spot-name b {
    font-size: 50px;
    font-family: 'Kiwi Maru', serif;
    color: #d25fb9;
    background: linear-gradient(transparent 70%, #e7bee4 40%);
    animation-name: fade;
    animation-duration: 2s;
}

.spot-container{
    display: flex;
    margin-right: 5%;
    margin-left: auto;
    width: 60%;
}

.spot-container p{
    font-size: 14px;
    font-family: 'Kiwi Maru', serif;
}

.spot-caption p{
    margin: 0 5%;
}

@keyframes fade{
    0%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
}

.info-container {
    position: relative;
    display: flex;
    margin-right: 5%;
    margin-left: auto;
    width: 60%;
    align-items: center;
    justify-content: space-around;
}

a {
    font-size: 18px;
    font-family: 'Kiwi Maru', serif;
    color: #d25fb9;
}

#retry {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 5%;
    margin-left: auto;
    width: 60%;
}

.retry-button {
    display       : inline-block;
    border-radius : 50%;          /* 角丸       */
    font-size     : 15pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    font-family: 'Kiwi Maru', serif;
    padding       : 17px 59px;   /* 余白       */
    background    : #d25fb9;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 11px #9e7292;  /* 影の設定 */
    border        : none;
}

.retry-button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
}

