<!doctype html>
<html lang="ja">

<head>
    <title>about</title>
    <meta charset="utf-8" />
    <link rel=stylesheet href="../static/about.css"><!-- cssファイルの読み込み -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <section id="page-title">
        <h1>～3-2-1 Trip! について～</h1>
    </section>

    <section id="about">
        <h2><b>こんな人に使ってほしい！</b></h2>
        <p><b>「旅行をしたい！けど特に行きたい場所は決まっていない」
        <br>
        「地域にこだわらず、国内全体で行き先を検討したい」
        <br>
        「旅行をする予定はないけど、国内にどんな旅行先があるのか知りたい」
        </b></p>
        <br>
        <h2><b>おすすめスポットの決定方法</b></h2>
        <p><b>step1: 受け取った3つのフリーワードから、AIが1つの単語を生成！
        <br>
        step2: 生成された単語と3つの絞り込み条件をもとに、旅行先口コミサイト「recotrip」の口コミで、最もマッチする旅行先を決定！</b></p>
    </section>

</body>

</html>