<!doctype html>
<html lang="ja">

<head>
    <title>入力画面</title>
    <meta charset="utf-8" />
    <link rel=stylesheet href="../static/input.css"><!-- cssファイルの読み込み -->
    <link rel=stylesheet href="../static/index.css"><!-- cssファイルの読み込み -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <script type="text/javascript" src="input.js"></script>
</head>

<body>
    <header></header>

    <form action = "/result" method="post" enctype="multipart/form-data">

        <section id="word-input">
            <h2 class="message1">
                次の旅行先のイメージとして浮かぶ３つの単語を入力してください
            </h2>
            <p class="note">
                (※全角・日本語で入力してください)
            </p>
            <div class="word-container">
                <p class="input-text">
                    <label for="word_1"></label>
                    <input type="text" name="word_1" placeholder="１つ目" onkeyup="this.setAttribute('value', this.value);" value=""/ class="text" autocomplete="off" required>
                </p>
                <p class="input-text">
                    <label for="word_2"></label>
                    <input type="text" name="word_2" placeholder="２つ目" onkeyup="this.setAttribute('value', this.value);" value=""/ class="text" autocomplete="off" required>
                </p>
                <p class="input-text">
                    <label for="word_3"></label>
                    <input type="text" name="word_3" placeholder="３つ目" onkeyup="this.setAttribute('value', this.value);" value=""/ class="text" autocomplete="off" required>
                </p>
            </div>
        </section>

        <section id="center-line"></section>

        <section id="select">
            <h2 class="message2">
                さらに旅行先を絞り込むために以下の条件を指定してください
            </h2>
            <div class="select-button">
                <p class="radio-button">
                    <b>人数は？</b>
                    <br>
                    <input type="radio" id="r1" name="radio1" value="１～２人" required class="r-button">
                    <label for="r1">１～２人</label>
                    <br>
                    <input type="radio" id="r2" name="radio1" value="３人以上" class="r-button">
                    <label for="r2">３人以上</label>
                </p>
                <p class="radio-button">
                    <b>外せないのは？</b>
                    <br>
                    <input type="radio" id="r3" name="radio2" value="景色" required class="r-button">
                    <label for="r3">景色</label>
                    <br>
                    <input type="radio" id="r4" name="radio2" value="ごはん" class="r-button">
                    <label for="r4">ごはん</label>
                </p>
                <p class="radio-button">
                    <b>定番or穴場</b>
                    <br>
                    <input type="radio" id="r5" name="radio3" value="定番" required class="r-button">
                    <label for="r5">定番</label>
                    <br>
                    <input type="radio" id="r6" name="radio3" value="穴場" class="r-button">
                    <label for="r6">穴場</label>
                </p>
            </div>
        </section>

        <section id="send-button">
            <p>この条件で  <input type="submit" value="送信！" class="send"></p>
        </section>
    </form>

    <footer></footer>
</body>

</html>